# Dependencias
/node_modules
/backend/node_modules

# Archivos de build y logs
/dist
/logs
*.log

# Archivos de variables de entorno (¡MUY IMPORTANTE!)
.env
.env.*
!.env.example

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
!.vscode/extensions.json
.idea/